<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everyone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Viewing everyone</h2>
        <div>
          {% for person in people %}
          <h3> {{ person.name }}</h3>
          <div  class=day">
            {% for day, times in person.schedule.items() %}
              <h4>{{ day }}</h4>
              <div class="times">
                {% for time in times %}
                        <div class="time-slot"
                             data-day="{{ day }}"
                             data-time="{{ time }}">
                            {{ time }}
                        </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <br>
      <a href="{{ url_for('schedule') }}">back</a>
        </div>
</body>
</html>
